*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
*.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

nodepint.egg-info/*
nodepint/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs